<ion-header > 
    <ion-toolbar color="first">
        <img src="/assets/logo.png" alt="" class="logo-image">       
        <ion-buttons slot="end">
          <ion-button color="light" (click)="closePage()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <div class="container">
      <!-- <table class="table-info">
        <tr class="pic">
          <td rowspan="3" width="150px">
            <img src="/assets/doctors/1.png" class="image-doctor" alt="" >
          </td>
        </tr>
        <tr>
          <td width="215px" valign="top">
            <div style="max-width: 200px;">
              <h3>dr. Amelia Rifai, Sp.PD-KGEH</h3>
              <span class="specialist">Gastroenterologi-Hepatologi </span>
            </div>
            
          </td>
        </tr>
        <tr>
          <td>
            <ion-chip color="success">
              <ion-icon class="contact" name="mail-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="warning">
              <ion-icon class="contact" name="call-outline"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">
              <ion-icon class="contact" name="videocam-outline"></ion-icon>
            </ion-chip>
          </td>
        </tr>
      </table> -->
      <div class="content-news">
        <h5>Kasusnya Bertambah, 6 WNI Positif Virus Corona di Indonesia</h5>
        <p>Ditinjau oleh <span>dr. Rizal Fadli </span></p>
        <p>09 Maret 2020</p>
        <img src="/assets/news/news1.jpg" class="picture-news" alt="" >
        <p>Jakarta - Virus corona (korona) Wuhan yang memasuki wilayah Indonesia sejak Senin (2/3), kini perlahan terus bertambah. Awalnya kasus ini menjangkiti WNI yang berdomisili di Depok, Jawa Barat. Keduanya kini masih dalam perawatan isolasi di Rumah Sakit Penyakit Infeksi Sulianti Saroso, Jakarta. </p>
        <p>Kedua kasus ini disebut sebagai kasus 1 dan 2. Namun, menurut keterangan dari Kementerian Kesehatan RI dalam rilis Sehat Negeriku!, pada Jumat (6/3) dan Minggu (8/3) jumlah kasus virus corona di Indonesia bertambah. </p>
        <p>Dengan kata lain, saat ini terdapat 6 WNI di Indonesia yang positif mengidap virus corona penyebab COVID-19. Nah, berikut ulasan lengkapnya. </p>
        
        <h6>Cluster Jakarta, Hasil Tracking 80 Orang</h6>
        <p>Achmad Yurianto selaku Juru Bicara Pemerintah Indonesia untuk COVID-19 mengonfirmasi, terdapat 2 pasien positif mengidap COVID-19. kedua kasus baru (kasus 3 dan 4) disampaikannya pada Jumat (6/3) di Istana Kepresidenan. </p>
        <p>Penemuan kasus 3 dan 4 ini merupakan hasil tracking terhadap kasus 1. Dinas Kesehatan Provinsi DKI Jakarta bersama Kepolisian RI dan Badan Intelijen Negara (BIN), telah mengidentifikasi 80 orang yang berada dalam sebuah acara bersama pasien (kasus) 1 di Jakarta. Dalam acara ini, pasien 1 terjangkit virus corona dari warga negara Jepang yang tinggi di Malaysia. </p>
        <p> 80 orang orang tersebut jumlahnya mengerucut jadi 20 orang. Dari situ pemerintah terus mendalami kasusnya, hingga membawa 7 orang ke RSPI Sulianti Saroso. Pemerintah melakukan serangkaian pemeriksaan dan isolasi pada ke 7 orang tersebut. Sebab mereka mengalami gejala-gejala infeksi virus corona, seperti influenza meski dalam kategori sedang.  </p>
        <p>“Dari 7 orang ini kita dapatkan dua orang confirm positif yang kami sebut sebagai kasus no 3 dan kasus no 4, Saya dapat laporan terakhir siang ini kasus 3 dan kasus 4 suhu badannya 37,6 dan 37,7 derajat Celsius. Pasien hanya mengeluhkan batuk, flu, tapi tidak ada keluhan sesak napas,” ujar Achmad Yurianto dalam Sehat Negeriku!</p>
        <p> balik ke belakang, kasus 1 dan kasus 2 dimulai pada 14 Februari. Keduanya pasien COVID-19 tersebut merupakan seorang ibu (kasus 2) dan putrinya (kasus 1). Kasus atau pasien 1 mengeluh batuk, demam, dan lemas pada tanggal 16 Februari. Selanjutnya, ibunya juga jatuh sakit dan mereka memutuskan untuk dirawat di rumah sakit pada tanggal 26 Februari.</p>
        
        <h6>Kasus 6 Bukan Cluster Jakarta </h6>
        <p>Pada Minggu (8/3) WNI yang positif mengidap virus corona penyebab COVID-19 bertambah 2 orang. Sampai saat ini total WNI yang positif terjangkit virus korona menjadi 6 orang. Lalu, bagaimana dengan kasus 5 dan 6 pasien baru virus corona di Indonesia? </p>
        <p>Kasus 5 berantai dengan kasus 1 sampai 4. Pasien pada kasus 5 ini (55) merupakan hasil tracking dari cluster Jakarta. Sementara ini kasus 6 lain lagi ceritanya. Pasien pada kasus 6 merupakan pria berusia 36 tahun anak buah kapal Diamond Princess. Sebelumnya terdapat sekitar 78 WNI yang menjadi ABK di kapal tersebut.</p>
        <p>Achmad Yurianto mengatakan, kasus 6 merupakan imported case yang pasien dapat dari Jepang, ketika bekerja sebagai awak kapal Diamond Princess. </p>
        <p>“Dua orang warga Indonesia terdeteksi positif virus corona berdasarkan pemeriksaan dan hasil data laboratorium (Balitbangkes Kementerian Kesehatan),” tegasnya  Yurianto pada Minggu (8/3) di komplek Istana Kepresidenan. </p>
        <p>Saat ini pasien di kasus 1-5 dirawat di RSPI Sulianti Saroso. Sementara itu, kasus 6 dirawat di RS Persahabatan. </p>
        
        <h6>Kasus Baru di Singapura, WNI Positif Corona Bertambah</h6>
        <p>Selain di Wilayah Indonesia, jumlah WNI di Singapura yang terjangkit virus corona juga bertambah. Menurut keterangan Ministry of Health (MOH) Singapura, pada Minggu malam (8/3), seorang WNI (64) dinyatakan positif terjangkit virus corona. Temuan ini menjadi kasus ke-147 di negara tersebut. </p>
        <p>Bagaimana kronologinya? MOH mengatakan, WNI yang tiba di Singapura pada Sabtu (7/3) tersebut, merupakan kasus impor. Sayangnya, belum diinformasikan lebih jauh dari negara mana WNI tersebut terjangkit COVID-19. </p>
        <p>Sementara itu, pada Sabtu (7/3), seorang WNI (62) juga dinyatakan positif terinfeksi virus corona. Kasus ke-133 di Singapura ini diduga berasal dari acara makanan malam yang diadakan Restoran Joy Garden, SAFRA Jurong Singapura, pada 15 Februari 2020. </p>
        <p>Menurut pemerintah Singapura, SAFRA Jurong menjadi salah satu cluster penularan pasien dengan jumlah yang cukup besar. Menurut MOH, sekitar 30 orang dinyatakan positif mengidap COVID-19 dalam cluster tersebut. </p>
        <p>Sedangkan kasus pertama merupakan WNI yang berprofesi sebagai asisten rumah tangga (ART). Perempuan berusia 44 tahun tersebut telah dinyatakan sembuh pada pertengan bulan lalu. </p>
        <p>Yuk, pastikan sakitmu bukan karena virus corona! Andaikan dirimu mencurigai diri atau anggota keluarga mengidap infeksi virus corona, atau sulit membedakan gejala COVID-19 dengan flu, segeralah tanyakan pada dokter. </p>
        
      </div>
  
    </div>
    <br>
  </ion-content>