<ion-header > 
  <ion-toolbar color="white" class="headersss">
      <img src="/assets/logo.png" alt="" class="logo-image">       
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
   <h5>Are you know?</h5>
      <ion-slides [options]="slideCategory">

        <ion-slide>
          <ion-chip color="first" class="cat-active">
            <ion-label>All</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
          <ion-chip color="first" class="category">
            <ion-label>Healthy Food</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
          <ion-chip color="first" class="category">
            <ion-label>Diet & Nutrition</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
          <ion-chip color="first" class="category">
            <ion-label>Beauty</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
          <ion-chip color="first" class="category">
            <ion-label>Pregnant</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
          <ion-chip color="first" class="category">
            <ion-label>Growth</ion-label>
          </ion-chip>
        </ion-slide>

        <ion-slide>
            <ion-chip color="first" class="category">
              <ion-label>Virus</ion-label>
            </ion-chip>
          </ion-slide>
        
      </ion-slides>
      

    <ion-item class="item-news" (click)="goDetail()">
      <img src="/assets/news/news1.jpg" class="picture-news" alt="" >
      <div class="det-doctor">
        <p><span color="first-light" class="specialist">Virus</span><br/></p>
        <p>
          <span class="l-dark">6 WNI Positif Virus Corona di Indonesia</span>
           </p>
      </div>
    </ion-item>

    <ion-item class="item-news">
      <img src="/assets/news/news2.jpg" class="picture-news" alt="" >
      
      <div class="det-doctor">
          <p><span class="specialist">Diet & Nutrition</span><br/></p>
        <p><span class="l-dark">Ketahui Ciri Psikopat pada Anak Sejak dini</span> </p>
      </div>
    </ion-item>

    <ion-item class="item-news">
        <img src="/assets/news/news3.jpg" class="picture-news" alt="" >
        
        <div class="det-doctor">
            <p><span class="specialist">Growth</span><br/></p>
          <p><span class="l-dark">Musim Hujan, Ini Cara Jaga Daya Tahan Tubuh Anak</span> </p>
        </div>
      </ion-item>
      <ion-item class="item-news">
          <img src="/assets/news/news4.jpg" class="picture-news" alt="" >
          
          <div class="det-doctor">
              <p><span class="specialist">Virus</span><br/></p>
            <p><span class="l-dark">Kasus Corona dan Berbagai Efek Paranoid yang Muncul</span> </p>
          </div>
        </ion-item>
        <ion-item class="item-news">
            <img src="/assets/news/news5.jpg" class="picture-news" alt="" >
            
            <div class="det-doctor">
                <p><span class="specialist">Virus</span><br/></p>
              <p><span class="l-dark">Update Kasus Virus Corona dan Imbauan Penting Kemenkes</span> </p>
            </div>
          </ion-item>
          <ion-item class="item-news">
              <img src="/assets/news/news6.jpg" class="picture-news" alt="" >
              
              <div class="det-doctor">
                  <p><span class="specialist">Virus</span><br/></p>
                <p><span class="l-dark">Virus Corona: Ini Persentase Kesembuhannya</span> </p>
              </div>
            </ion-item>
  

  </div>
  <br>
</ion-content>