<ion-header > 
  <ion-toolbar color="first">
      <img src="/assets/logo.png" alt="" class="logo-image">       
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" color="light" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">


    <ion-card class="card-profile">
      <div>
        <img class="img-profile" src="https://img.icons8.com/pastel-glyph/2x/user-male.png">
      </div>
      <ion-card-content class="card-cprofile">
       <div class="fullname">
      <h1><ion-icon color="first" name="male-outline">
      </ion-icon> Fullname</h1>
       </div>
       <br>
       <div>
        <ion-item>
          <ion-icon color="first" name="call-outline">
          </ion-icon>
          <p>+62 8123 1223 123</p>
        </ion-item>
        <br>
         <ion-item>
           <ion-icon color="first" name="calendar-outline">
           </ion-icon>
           <p>21 years</p>
         </ion-item>
         <br>
         <ion-item>
           <ion-icon color="first" name="mail-outline">
           </ion-icon>
           <p>kolongijo@gmail.com</p>
         </ion-item>
       </div>     
      </ion-card-content>
    </ion-card>
  </div>
  <br>
</ion-content>