<ion-header > 
  <ion-toolbar color="white" class="headersss">
      <img src="/assets/logo.png" alt="" class="logo-image">       
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="closePage()"> <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <table class="table-info">
      <tr class="pic">
        <td rowspan="3" width="150px">
          <img src="/assets/doctors/1.png" class="image-doctor" alt="" >
        </td>
      </tr>
      <tr>
        <td width="215px" valign="top">
          <div style="max-width: 200px;">
            <h3>dr. Ahmar Abyadh, Sp.PD-KGEH., FINASIM</h3>
            <span class="specialist">Spesialis Penyakit Dalam (Gastroenterologi-Hepatologi) </span>
          </div>
          
        </td>
      </tr>
      <tr>
        <td>
          <ion-chip color="success">
            <ion-icon class="contact" name="mail-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="warning">
            <ion-icon class="contact" name="call-outline"></ion-icon>
          </ion-chip>
          <ion-chip color="secondary">
            <ion-icon class="contact" name="videocam-outline"></ion-icon>
          </ion-chip>
        </td>
      </tr>
    </table>
    <div>
      <h5>About</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="info-doctor">
      <div class="address-doctor">
        <h6>Practice Address</h6>
        <p class="info">
          <b>Columbia Asia Hospital Pulomas.</b> No.1, Jl. Kayu Putih Raya, Kayu Putih, Kec. Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta</p>
        <h6>Practice Time</h6>
        <p class="info">Senin - jumat dari 06.00 - 18.00 WIB</p>

      </div>
      <div class="google-maps">
        <iframe class="image-maps" src="https://maps.google.com/maps?q=%20Columbia%20Asia%20Hospital%20Pulomas&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
  <div class="schedule">
    <ion-button color="first" slot="end" (click)="schedule()" class="btn-schedule" > 
      <span class="l-white">{{textBtn}}</span> 
    </ion-button>
  </div>
  <div *ngIf="opt">
    <ion-list>
      <ion-item>
        <ion-label>
          <h3>Lorem Ipsum</h3>
        </ion-label>
        <ion-label slot="end"><p style="text-align: right ;padding: 0px !important;">Senin, 09.00 WIB</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Lorem Ipsum</h3>
        </ion-label>
        <ion-label slot="end"><p style="text-align: right ;padding: 0px !important;">Selasa, 15.00 WIB</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Lorem Ipsum</h3>
        </ion-label>
        <ion-label slot="end"><p style="text-align: right ;padding: 0px !important;">Rabu, 11.00 WIB</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Lorem Ipsum</h3>
        </ion-label>
        <ion-label slot="end"><p style="text-align: right ;padding: 0px !important;">Kamis, 09.00 WIB</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Lorem Ipsum</h3>
        </ion-label>
        <ion-label slot="end"><p style="text-align: right ;padding: 0px !important;">Jumat, 13.00 WIB</p></ion-label>
      </ion-item>
    </ion-list>
  </div>

  </div>
  <br>
</ion-content>