<ion-content color="white" padding>

  <div style="padding: 50px 50px 5px 50px;text-align: center;">
    <img src="/assets/logo.png" style="width: 150px;height: auto;" alt="">

  </div>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col >
          <div padding>
            <ion-item class="roundedInput"> 
              <ion-input name="Fullname"  placeholder="Fullname"  ngModel required></ion-input>
            </ion-item>
            <ion-item class="roundedInput"> 
              <ion-input name="email" type="email"  placeholder="Email Address" ngModel required ></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-input name="repassword" type="password" placeholder="Re-type Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="first" routerLink='/tabs/tab1' expand="block" id="btnlogin" click="process()"> <span class="l-white">Register</span> </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-row>
    <p >
      If you have an account, please <a routerLink='/login' style="color: red;text-decoration: underline;">login</a> here.
    </p>
  </ion-row>
</ion-content>